<!-- ABOUT -->
<section id="register" class="section padding-top-bottom-65">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="pricing-table" style="margin-top: 30px">
          <li style="padding: 15px">
            <div class="form-group">
              <label><h5>Nombres y Apellidos:</h5></label>
              <input v-model="fullname" type="text" class="form-control" id="user" placeholder="Juan Pérez">
            </div>

            <div class="form-group">
              <label><h5>Email:</h5></label>
              <input v-model="email" type="email" class="form-control" id="username" placeholder="tucorreo@gmail.com">
            </div>

            <div class="form-group">
              <label><h5>Contraseña:</h5></label>
              <input v-model="password" type="password" class="form-control" id="pass" placeholder="*******">
            </div>

            <div class="form-group">
              <label><h5>Repetir Contraseña:</h5></label>
              <input v-model="repassword" type="password" class="form-control" id="rep-pass" placeholder="*******">
            </div>
          </li>

          <li class="footer">
            <p v-if="message!==''" style="font-size: 14px;color: brown"><strong>{{message}}</strong></p>
            <a v-on:click="validateinput" class="btn btn-default btn-theme btn-rounded-corner margin-top-bottom-50"  role="button">Regístrar</a>
            <a class="btn btn-default btn-theme btn-rounded-corner margin-top-bottom-50 btn-o" href="/" role="button">Cancelar</a>
          </li>
        </ul>

      </div>

    </div>
  </div>
  
</section>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
<script src="../js/auth/register.js"></script>
<!-- ABOUT END -->
