<style>
    .big-input{
        font-size: 25px;
        color: black;
    }

    .image{
        height: 300px;
        background-color:rgba(0,0,0,.2); 
    }
    .lesson{
        border: 1px solid rgba(0,0,0,.2);
        border-radius:5px;
        box-shadow: 5px rgba(0,0,0,.5);
        padding: 15px;
        margin-top: 10px;
    }
    .control-lesson{
        display: inline-block;
        float: right;
        color:rgba(0,0,0,.5);
    }
    .control-lesson i{
        cursor: pointer;
    }
    #loader{
     display: none;
    }

    .lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    }
    .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 6px;
    border: 2px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(110, 110, 110) transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
    }
    @keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
</style>
<div id="course" class="row">
        
        <div class="col-md-8 grid-margin">
            <div class="card">
                <div id="loader" style="margin:auto">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                 
                <div class="card-body">
                            <form class="forms-sample">
                                    <div class="form-group">
                                      <input v-model="course.name" v-on:blur="updateCourse('name',course.name)" type="text" class="form-control big-input" placeholder="Nombre del curso">
                                    </div>
                                    <div class="form-group">
                                        <textarea v-model="course.description" v-on:blur="updateCourse('description',course.description)" type="textarea" class="form-control" rows="4" placeholder="Descripción"></textarea>
                                    </div>
                                    
                                  </form>
                            <br>
                            <div class="row">
                                    <div class="col-md-10">
                                            <h3>Lessons</h3>
                                        </div>
                                        <div class="col-md-2" >
                                            <button v-on:click="createLesson" class="btn btn-success" style="float:right">Nueva clase</button>
                                        </div>
                            </div>
                           
                            
                            <div class="content-lessons">
                                
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div v-for="lesson in lessons" class="lesson">
                                                <div class="control-lesson">
                                                        <i  class="material-icons">
                                                                arrow_upward
                                                            </i>
                                                        <i class="material-icons">
                                                                arrow_downward
                                                            </i>
                                                        <i v-on:click="deleteLesson(lesson.id)" class="material-icons">
                                                                close
                                                            </i>
                                                </div>
                                                    <div class="form-group">
                                                            <input v-model="lesson.title" v-on:blur="updateLesson(lesson.id,'title',lesson.title)" type="text" class="form-control " placeholder="Título">
                                                        </div>
                                                    <div class="form-group">
                                                            <input  v-model="lesson.description" v-on:blur="updateLesson(lesson.id,'description',lesson.description)" type="text" class="form-control " placeholder="Descripción">
                                                        </div>
                                                    <div class="form-group">
                                                            <input  v-model="lesson.video_url" v-on:blur="updateLesson(lesson.id,'video_url',lesson.video_url)" type="text" class="form-control " placeholder="Url del video">
                                                        </div>
                                            </div>
    
                                        
                                        </div>
                                    </div>
                                        
                            </div>

                            <div v-if="lessons.length>0" class="row" style="margin-top:10px">
                                    <div class="col-md-10">
                                    
                                        </div>
                                        <div class="col-md-2" >
                                            <button v-on:click="createLesson" class="btn btn-success" style="float:right">Nueva clase</button>
                                        </div>
                            </div>

                            <div class="row" style="margin-top:50px;">
                                    <button v-if="!course.active" v-on:click="updateCourse('active',true)" class="btn btn-info" style="float:right; font-size: 20px;margin: auto">Publicar Curso</button>
                                    <button v-if="course.active" v-on:click="updateCourse('active',false)" class="btn btn-danger" style="float:right; font-size: 20px;margin: auto">Inhabilitar Curso</button>
                            </div>
                    </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="image">
                            </div>
                        </div>        
                   
                </div>
            </div>    
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
<script src="../js/admin/course.js"></script>