<!-- ABOUT -->
<style>
 
.lesson{
  padding: 30px 45px;
}
.lesson p{
  font-size: 16px;
}
</style>
<section id="detail" class="section padding-top-bottom-65">
        <div class="container">

           
          <div class="row">
            <div class="col-md-12">
              <div class="pricing-table" style="margin-top: 30px">
                  <li class="header">
                      <h1 class="name-course"> <strong>{{course.name}}</strong>    </h1>
                  </li>

                <li v-for="lesson in lessons" >
                  <div class="row">
                    <div class="lesson">
                        <div class="col-md-10" style="text-align: left">
                            <h3>{{lesson.title}}</h3>
                            <p>{{lesson.description}}</p>
                        </div>
                        <div class="col-md-2">
                          <a class="btn btn-default btn-theme btn-rounded-corner margin-top-bottom-50 btn-o" v-bind:href="'/lesson?lesson_id='+lesson.id" >Ver</a>
                        </div>
                    </div>
                  </div>
                </li>
                
                <li class="footer">
                  
                </li>
              </ul>
      
            </div>
      
          </div>
        </div>
      
      </section>
      <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
      <script src="../js/course/detail.js"></script>
      <!-- ABOUT END -->
      